spring:
  application:
    name: test
    
  datasource:
    url: jdbc:h2:file:~/trupertest
    driverClassName: org.h2.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enable: true
logging:
  level:
    org:
      hibernate:
        SQL: debug
